@model SistemaVentas.Models.MovimientoVenta

@{
    ViewData["Title"] = "Eliminar Movimiento de Venta";
}

<div class="container mt-5">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h3>¿Estás seguro de que deseas eliminar este movimiento?</h3>
    <div>
        <h4>Detalles del Movimiento de Venta</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TotalVenta)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TotalVenta)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Detalle)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Detalle)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdVenta" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
        </form>
    </div>
</div>
