@model SistemaVentas.Models.Cargo

@{
    ViewData["Title"] = "Delete Cargo";
}

<h1 class="text-center text-danger">Delete Cargo</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Are you sure you want to delete this Cargo?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NombreCargo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NombreCargo)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SalarioBase)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalarioBase)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCargo" />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>

