@model SistemaVentas.Models.Proveedore

@{
    ViewData["Title"] = "Detalles del Proveedor";
}

<div class="container mt-5">
    <h1 class="text-primary">@ViewData["Title"]</h1>

    <div>
        <h4>Detalles del Proveedor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreEmpresa)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CorreoElectronico)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.IdProveedor" class="btn btn-warning">Editar</a> |
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>
